# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Static files (usually collected by Django)
static/

# Virtual Environment
venv/
ENV/
env/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Coverage
.coverage
htmlcov/

# Translations
*.mo

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv.zip
.jijumuwa.zip
myproject/